{{#if formIsShowing}}

<div class="row container">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        {{input value=name id="name"}}
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        {{input value=username id="username"}}
        <label for="username">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{input value=password id="password"}}
        <label for="password">Password</label>
      </div>
      <div class="input-field col s6">
        {{input value=avatar id="avatar"}}
        <label for="avatar">Profile Pic Link</label>
      </div>
    </div>

    <button class="btn" type="button" name="button" {{action 'saveUser' model}}>Register!</button>
  </form>
</div>
{{else}}
<ul>
  <span {{action 'showForm'}}> {{list-print model}} </span>
</ul>

{{/if}}
